.fe-tabs {
  overflow: hidden;

  .tab-bars {
    display: flex;
    position: relative;
    overflow: scroll;
    > div {
      flex: 1;
      text-align: center;
      border-bottom: 1PX solid #ddd;
      color: #000;
      background-color: #fff;
      line-height: 3.5rem;
      &.active {
        color: #64b4c8;
      }
    }
    .bar-animated {
      transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      background-color: #64b4c8;
    }
  }
  .tab-content {
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    display: flex;
    will-change: transform;

    .tab-pane {
      box-sizing: border-box;
      width: 100%;
      flex-shrink: 0;
      overflow: auto;
      &.tab-pane-inactive{
        height:0;
        overflow: hidden;
      }
    }
  }
}