.demo-index{
  >p,.title-listview{
    padding:1rem;
    border-bottom:solid thin #ccc
  }
  .fe-stepper,.list-item .fe-star,.list-item .codebutton{
    position: absolute;
    margin: auto;
    right:2.5rem;
    top:0;
    bottom:0;
  }
  .origin-code{
    *{
      font-size:2rem;
      color:#fff;
    }
  }
  .InputItem input {
    text-align: right;
  }

  .list-item img{
    width:4rem;
    height:3rem;
    position: absolute;
    margin: auto;
    right:2.5rem;
    top:0;
    bottom:0;
  }
}